DB_NAME="postgres"
DB_HOST="db"
DB_PORT=5432
DB_USER="postgres"
DB_PASSWORD="sTU@f81!"

SECRET_KEY="qBVKHVy14i#qEixZ@&xIvOKG7Hnai!!L"
DEBUG=True

# Celery va Redis (Broker 'redis' bo'lishi shart)
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0

# Auxol API Key
AUX_USER="CHANGE-ME"
AUX_PASS="CHANGE-ME"
AUXSOL_PLANT_ID="CHANGE-ME"